.wy-nav-content{
	max-width: 1400px !important;
}
.wy-side-nav-search, .wy-nav-top {
    background: #2980B9;
}
table{
    margin-left: auto;
    margin-right: auto;
}
.center { text-align: center; }
